.modalTitle{
	font-size: 1.2rem;
	color: var(--gray);
}

.modal-footer .salvar{	
    background: var(--dpurple);
    margin-right: 5px;
    color: #fff;    
}

.modal-footer .cancelar{
    background: var(--lpurple);
    margin-left: 5px;
    color: #fff;
}
