.user-info{
    display: flex;
    margin: 50px;
    flex-direction: column;
}

.user-name{
    font-size: 2rem;
}

.user-desc{
    font-size: 1rem;
    color: var(--yellow);
    font-style: oblique;
}