*{
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    font-family: Arial, sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}

body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(180deg, #312387 -20.38%, #312688 15.94%, #2F2E8B 39.7%, #2D3D90 59.86%, #295397 78.02%, #256EA0 94.82%, #1F90AB 110.64%, #19B8B8 125.7%, #11E5C7 139.74%, #0DFFD0 146.99%);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 15px;
    color: #b2b2b2;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b2b2b2;
    font-size: 15px;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #b2b2b2;
    font-size: 15px;
  }

p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.iconMenu{
     width: 40px;
     height: 40px;
     margin-top: 10px;   
}



